# Ignorer le fichier PDF
0_LibftV2.pdf

# Ignorer le répertoire .vscode
.vscode/

# ignorer le fichier .gitignore
.gitignore

# Ignorer tous les fichiers .a (bibliothèques statiques)
*.a

# Ignorer tous les fichiers de sortie .out (binaires)
*.out

# Ignorer le fichier main.c (si tu veux vraiment l'ignorer)
main.c
